{% import time %}

<html>

<head>
    {% include module_title.html %}
    {% include module_common_meta.html %}

    <!--    メインCSS読み込み-->
    <link rel="stylesheet" type="text/css" href="{{static_url('css')}}/style.css?t={{str(time.time())}}">

</head>

<body>

    <nav class="amber" style="margin-top: -5rem">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo title center col s7">Leona'sPlayList</a>
            <div class="row">
                <!--
            <ul id="nav-mobile" class="col s4">
                <li class="search-area" onclick="expandSearch();">
-->
                <div class="col s9" onclick="expandSearch();">
                    <form method="get">
                        <div class="input-field">
                            <input id="search" onBlur="hideSearch();" name="search" type="search" autocomplete="off">
                            <label class="label-icon" for="search">
                                <i class="material-icons">search</i>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col s1 center-align">

                    <a href="/list">
                        <i class="material-icons">format_list_bulleted</i>
                    </a>
                </div>
                <div class="col s1 center-align center-align">
                    <a href="/" class="icon">
                        <i class="material-icons">home</i>
                    </a>
                    <a data-target='fav-modal' class="icon modal-trigger">
                        <i class="material-icons">star</i>
                    </a>
                </div>
                <div class="col s1 center-align">
                    <a href="/login">
                        <i class="material-icons">person
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <main style="margin-top: 5rem">
        <center>

            <h5 class="amber-text-lighten-5">アカウント情報を入力してください</h5>
            <div class="section"></div>

            <div class="container">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                    <!--                    <sctipt>-->

                    {% try %}
                    {% if message %}
                    {% autoescape None %}
                    <span>{{message}}</span>
                    <!--                        M.toast({html: '{{message}}'});-->
                    <!--                        alert('{{message}}');-->
                    {% end %}
                    {% except %}
                    {% end %}
                    <!--                    </sctipt>-->

                    <form class="col s12" method="post">
                        {% module xsrf_form_html() %}
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='email' name='e-mail' id='email' />
                                <label for='email'>メールアドレス</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password' />
                                <label for='password'>パスワード</label>
                            </div>
                        </div>

                        <br />
                        <center>
                            <div class='row'>
                                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect amber'>ユーザー登録</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
            <a href="/login">アカウント作成済みの方はこちらから</a>
        </center>

    </main>

    <!--    Materialize JS読み込み-->
    <script src="{{static_url('js')}}/materialize.min.js"></script>
    <!--    メインスクリプト読み込み-->
    <!--    <script src="{{static_url('js')}}/index.js?t={{str(time.time())}}"></script>-->


</body>

</html>
