{% import time as time %}

<html lang="ja">

<head>
    <title>Leona'sPlayList</title>
    {% include module_common_meta.html %}
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!--    youtubeのiframeが重すぎるので軽量化のライブラリ入れる-->
    <!-- Include the CSS & JS.. (This could be direct from the package or bundled) -->
    <link rel="stylesheet" href="{{ static_url('css') }}/lite-yt-embed.css"/>
    <script src="{{ static_url('js') }}/lite-yt-embed.js"></script>

    <!--    youtube埋め込み用スクリプト読み込み-->
    <script src="https://www.youtube.com/iframe_api"></script>

    <!--    メインCSS読み込み-->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css') }}/style.css?t={{ str(time.time()) }}">

</head>

<body>
{% include module_menu.html %}
<div class="content">

{% include module_slider.html %}

{% module xsrf_form_html() %}
<input type="hidden" value="{{ login_flg }}" id="login-flg"/>
<div class="navbar-fixed" id="controller">
    <nav class="amber play-controller">
        <div id="current-playing-title" class="playing-title">

        </div>
        <div id="control-ui">
            <i id='play-status' class="material-icons" onclick="onClickPlayStatus(this.innerText)" >play_arrow</i>
            <i id='mute' class="material-icons" onclick="onClickMute(this.innerText)">volume_up</i>
            <div class="slider-zone">
                <input name="volume" type="range" oninput="onChangeVolumeSlider(this.value);" id="volume-slider" min="0" max="100" />
            </div>
        </div>

    </nav>
</div>
<div class="row" id='content-area'>
    <!--        テンプレート展開-->

</div>


<div class="new-content-button" uk-toggle="target: #new-content-modal">
    <div class="balloon-right">
        <p>新しい歌を追加してね！</p>
    </div>
    <img class="rotate-bottom" width="120px" src="{{ static_url('image/yuki_leona_new_song_small.png') }}"
         alt="new-song">
</div>
<div id="new-content-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-light uk-background-secondary uk-padding">
        <h4 class="uk-modal-title">新規投稿</h4>
        <form method="post" id="new-content-form">
            <p>URL<input name="url" class="uk-input" placeholder="https://youtu.be/10p6I66I4KU" autocomplete="off"
                         onfocus="this.select();" required></p>
            <p>曲名(|で区切ることで複数同時に登録できます)<input name="title" class="uk-input" placeholder="はっぴーでいず！" autocomplete="off"
                                             onfocus="this.select();"></p>
            <p>開始時間(|で区切ることで複数同時に登録できます)<input name="time" class="uk-input" placeholder="00:00:00" autocomplete="off"
                                               onfocus="this.select();" required></p>
            <button type="button" onclick="postNewContent();" class="uk-button uk-button-default" required>登録</button>
        </form>
    </div>
</div>
<div id="delete-confirm-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-light uk-background-secondary uk-padding">
        <h4 class="uk-modal-title">削除確認</h4>
        <p>消していいですか？</p>
        <form method="post" id="delete-content-form">
            <input type="hidden" name="target" value="None" id='delete-target'>
            <button type="button" onclick="postDeleteContent();" class="uk-button uk-button-default">削除</button>
        </form>
    </div>
</div>
<div id="edit-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-light uk-background-secondary uk-padding">
        <h4 class="uk-modal-title">修正する情報を入力してください。</h4>
        <form method="post" id="edit-form">
            <input name="target" id="edit-target" class="uk-input" type=hidden>
            <p>URL<input name="url" id="edit-url" class="uk-input" placeholder="https://youtu.be/10p6I66I4KU"
                         autocomplete="off" onfocus="this.select();"></p>
            <p>曲名<input name="title" id="edit-title" class="uk-input" placeholder="はっぴーでいず！" autocomplete="off"
                        onfocus="this.select();"></p>
            <p>アーティスト名<input name="artist" id="edit-artist" class="uk-input" placeholder="獅子神レオナ" autocomplete="off"
                             onfocus="this.select();"></p>
            <p>開始時間<input name="time" id="edit-time" class="uk-input" placeholder="00:00:00" autocomplete="off"
                          onfocus="this.select();"></p>
            <button type="button" onclick="postEditContent()" class="uk-button uk-button-default">更新</button>
        </form>
    </div>
</div>
</div>

{##}
{#    <nav>#}
{#      <div class="nav-wrapper">#}
{#        <a href="#!" class="brand-logo">Logo</a>#}
{#        <ul class="right hide-on-med-and-down">#}
{#          <li><a href="sass.html">Sass</a></li>#}
{#          <li><a href="badges.html">Components</a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </nav>#}


{% include module_about.html %}

<!--    Materialize JS読み込み-->
<script src="{{ static_url('js') }}/materialize.min.js"></script>
<!--    メインスクリプト読み込み-->
<script src="{{ static_url('js') }}/index.js?t={{ str(time.time()) }}"></script>

{% include module_content_template.html %}
</body>

</html>
