{% from lpl_const import config %}

<nav class="amber fixed-header-content">
    <div class="nav-wrapper">
        <p class="brand-logo title center" onselectstart="return false;">{{ config.WEB_VIEW_APPLICATION_NAME }}</p>
        <ul class="left expand-search-area" onclick="expandSearch();">
            <form method="get" action="/">
                <div class="input-field">
                    <input id="search" onBlur="hideSearch();" name="search" type="search" autocomplete="off">
                    <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                </div>
            </form>
        </ul>
        <ul class="right show-always">
            <li><a class="dropdown-trigger" data-target="dropdown">MENU<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>

<ul id='dropdown' class='dropdown-content'>
    <li>
        <a href="/"><i class="material-icons">home</i>HOME</a>
    </li>
    <li>
        <a href="/?favorite=true"><i class="material-icons">star</i>お気に入り</a>
    </li>

    <li>
        <a href="/list"><i class="material-icons">format_list_bulleted</i>一覧検索</a>
    </li>
    <li>
        <a href="/channel-videos"><i class="material-icons">event</i>公式配信一覧</a>
    </li>
    <li>
        {% if login_flg %}
        <a href="/logout">
            <i class="material-icons">exit_to_app</i>ログアウト
        </a>
        {% else %}
        <a href="/login">
            <i class="material-icons">person
            </i>ログイン
        </a>
        {% end %}
    </li>
    <li>
        <a uk-toggle="target: #copyright-modal"><i class="material-icons">web</i>ページ説明</a>
    </li>
</ul>