<meta name="description" content="獅子神レオナの歌枠アーカイブの横断検索サービスです。誰でもコンテンツ追加ができます。">
<meta name=”keywords” content=”獅子神レオナ,獅子神,レオナ,プレイリスト,shishigami,leona,playlist,LeonasPlayList”>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--     UIkit CSS -->
<link rel="stylesheet" href="{{static_url('css')}}/uikit.min.css" />
<!--    materialize CSS JS-->
<link rel="stylesheet" href="{{static_url('css')}}/materialize.min.css">
<link href="{{static_url('css')}}/icon.css" rel="stylesheet">
<!--     UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
<!--    google-->
{% include module_google_analytics.html %}
<!--    favicon-->
{% include module_favicon.html %}

