{% import time as time%}
{% import tornado as tornado%}
{% from lpl_const import config %}

<html>

<head>
    {% include module_title.html %}
    {% include module_common_meta.html %}

    <!--    メインCSS読み込み-->
    <link rel="stylesheet" type="text/css" href="{{static_url('css')}}/style.css?t={{str(time.time())}}">
</head>

<body>

    {% include module_menu.html %}
    <div class="content">

    <div class="collection list-section">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" id="tab">
                    <li class="tab col s6"><a href="#music-list-tab" class="active tab-text"><i class="material-icons">music_note</i>曲名一覧</a></li>
                    <li class="tab col s6"><a class="tab-text" href="#artist-list-tab"><i class="material-icons">person</i>アーティスト一覧</a></li>
                </ul>
            </div>
            <div id="music-list-tab" class="col s12">
                {% for title in title_list %}
                <a href="../?search={{ tornado.escape.url_escape(title['title']) }}&perfect=true" class="collection-item">{{ title["title"] }} ({{ title["count"] }}件) / {{ title["artist"] if title["artist"] != '' else '不明なアーティスト' }}</a>
                {% end %}
            </div>
            <div id="artist-list-tab" class="col s12">
                {% for artist in artist_list %}
                <a href="../?artist={{ tornado.escape.url_escape(artist['artist'] if artist['artist'] != '' else 'unknown') }}" class="collection-item">{{ artist["artist"] if artist["artist"] != '' else '不明なアーティスト' }}({{artist["count"] }}件)</a>
                {% end %}
            </div>

        </div>
    </div>
            {% include module_about.html %}

    </div>


    <!--    Materialize JS読み込み-->
    <script src="{{static_url('js')}}/materialize.min.js"></script>
    <!--    メインスクリプト読み込み-->
    <script src="{{static_url('js')}}/title_list.js?t={{str(time.time())}}"></script>


</body>

</html>
